@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fira+Mono|Signika&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Suez+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Varela+Round&display=swap");


*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html,body,h1{
    width: 100%;
    margin: 0;
}
section{
    padding: 0;
    position: relative;
    margin: auto;
    width: 100%;
    height: 100vh;
    align-content: center;
}
.layer{
  position: relative;
    margin: auto;
    width: 95vw;
    height: 100%;
    top: 0;
    align-self: center;
    background-color: rgba(0, 0, 0, 0.856);
}


/* NAVBAR */
.navbar1{
    position: fixed;
    top: 0;
    display: flex;
    right:0px;
    width: 100%;
    z-index: 100;
    box-shadow: 0 0.125rem #593a9f, 0 0.25rem 0.125rem rgba(0,0,0,.5);
    box-shadow: 0 var(--space-1) var(--primary),0 var(--space-2) var(--space-1) var(--darken-3);
}
nav{
    z-index: 100;
    width: 100vw;
    box-shadow: 0 0.125rem #593a9f, 0 0.25rem 0.125rem rgba(0,0,0,.5);
    box-shadow: 0 var(--space-1) var(--primary),0 var(--space-2) var(--space-1) var(--darken-3);
    display: flex;
    background-color: rgba(0, 0, 0,.3);
}
ul{
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
    list-style-type: none;
    right: 0;
    padding: 0;
}
li{
   margin: auto;
    display: flex;
    height: 4vw;
    width: 8.5vw;
}
#home-link{
    width: 8vw;
}
li a {
    color: white;
   margin: auto;
    font-size: 1.2vw;
}
li a:hover{
    color: teal;
    text-decoration: none;
    font-size: 1.8vw;
}
#resume{
    border: rgba(13,102,102,.9);
    border-style: solid;
    border-radius: 1rem;
    border-width: .325rem;
    margin: .5vw;
}
.astc{
    font-size: 2vw;
    color: white;
    font-family: 'Fira Mono';
    margin-left: 2vw;
    padding: 1.2vw;
}
.nav-btn{
    display: none;
    position:fixed;
    right: 5vh;
}
.navbar-toggle{
    background-color: rgba(0, 0, 0,0);
    border-style: none;
    position: absolute;
    right: 2vh;
    padding-top: .5vh;

}
.bar1,
.bar2,
.bar3{
    width: 4vh;
    height: .7vh;
    margin: .5vh;
    background: white;
    transition: all 0.5s ease;
}
@media only screen and (max-width: 600px) {
    #ul1 {
      display: none;
    }
    .astc {
        font-size: 2.5vh;
        margin: .8vh;
    }
    .nav-btn{
        display: contents;
    }
  }



/*HOME CONTENT*/
.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
 background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.masthead h1 {
  font-family: 'Varela Round';
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.733));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  
}

.masthead h2 {
  max-width: 35rem;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .masthead h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}


@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }
  .masthead h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
    font-family:'Acme', sans-serif;
  }
  .masthead h2 {
    max-width: 45rem;
    font-size: 1.25rem;
  }
}


/* this makes the more about me button show up on the phone screen in the beginning */
@media (max-width: 992px) {
  .masthead  {
    height: 100vh;
  }
}
@media (max-height: 600px) { /*for the iphone 5s */
  .masthead  {
    height: 110vh !important;
  }
}

.btn {
  -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  font-family: 'Varela Round';
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: .15rem;
  border: 0;
}

.btn-primary {
  background-color: #d371c0;
}

.btn-primary:hover {
  background-color: #b875ab;
}

.btn-primary:focus {
  background-color: #b875ab;
  color: white;
}

.btn-primary:active {
  background-color: #904d83 !important;
}
body{
    background-image: url("../assets/images/bg12.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
   background-size: 100% 100%;
    background-color: rgba(0, 0, 0, 0.863);
}
.circularimage:hover{
  
  width: 350px;
  border-radius: 1750px;
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.336);
  transition: height 1s,width 1s, border-radius 1s, box-shadow .21s; 
}

.circularimage{
  border-radius: 100px;
  width: 200px;
  transition: height 1s,width 1s, border-radius 1s, box-shadow 1s;
}

.circularlogo{
  border-radius: 100px;
  height: 67px;
  width:67px;
  background-color: white;
  padding: 3px;
  margin-bottom: 20px;

}



.name{
    display: flex;
    color: white;
    font-family:'Acme', sans-serif;
    letter-spacing: .5vw;
}
.name h1{
        font-size: 6vw;
        margin: auto;
        padding-top: 3vh;
        font-stretch: semi-expanded;
}
.discription{
    color: white;
    font-family:'Acme', sans-serif;
    letter-spacing: .3vw;
    margin: 0;
    margin-top: 3vh;
}



/*About me*/
a {
  color: #d371c0;
  text-decoration: none;
  background-color: transparent;
}
a:hover 
{
  color: #d371c0; 
     text-decoration:none; 
     cursor:pointer;  
}
.pname{
  position: relative;
  top: 13vh;
  width: 100%;
  color: white;
  margin: auto;
  text-align: center;
  
}

.trn3{
    opacity: 0;
        -webkit-animation: appear 0.5s ease-out 0.5s 1 normal forwards;
                animation: appear 0.5s ease-out 0.5s 1 normal forwards;
        margin-bottom: 2 rem;
        color: #d1ced5;
        font-family: 'Varela Round';
        font-size: 2rem;
        line-height: 6vh;
}
.trn4{
    opacity: 0;
        -webkit-animation: appear 0.5s ease-out 0.75s 1 normal forwards;
                animation: appear 0.5s ease-out 0.75s 1 normal forwards;
        margin-bottom: 2 rem;
        font-family: 'Varela Round';
        color: rgb(128, 125, 125);
        line-height: 4vh;
        font-size: 1.1rem;
        font-weight: 700;
        margin-top: 4vh;
        letter-spacing: .06vw;
}
@-webkit-keyframes appear {
    0% {
      opacity: 0;
      -webkit-transform: translateY(2rem);
              transform: translateY(2rem);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }

  @keyframes appear {
    0% {
      opacity: 0;
      -webkit-transform: translateY(2rem);
              transform: translateY(2rem);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }

  .abt-bottom{
    position: relative;
    /*background-color: rgba(255, 255, 255, 0.137);*/
    bottom: 0;
    height: 20vh;
    width: 70vw;
    margin: auto;
    vertical-align: middle;
  }
  .abt-img-8{padding: 8px;}
  .abt-img-10{padding: 10px;}
  .abt-img-12{padding: 12px;}
  .abt-img-15{padding: 15px;}
  .abt-img-20{padding: 20px;}

  .abt-box, .abt-box2{
    position: relative;
    margin: .5%;
    margin-top: 3%;
    margin-bottom: 20%;
    height:60%;
    width:9%;
    background-color: rgba(255, 255, 255, 0.205);
    text-align: center;
    float: left;
    border-radius: 4px;
  }
  .abt-box:hover, .abt-box2:hover{
    background-color: white;
  }

  .abt-box-1{
    display: none;
  }
.mb-br{
  display: none;
}
@media only screen and (max-width: 600px) {
  .abt-box-1{
    display: block;
  }
  #skill-br{
    display: none;
  }
  .abt-box2{
    display: none;
  }
  .trn3{
          font-size: 1.7rem;
          line-height: 5.6vh;
  }
  .abt-box, .abt-box2{
    height: 70%;
    margin-top: 2%;
    margin-bottom: 0;
    width:16%;
    margin-left: 3%;
  }
  .abt-box-1{
    height: 70%;
    margin: .5%;
    margin-top: 2%;
    margin-bottom: 20%;
    margin-left: 3%;
    position: relative;
    width:16%;
    background-color: rgba(255, 255, 255, 0.205);
    text-align: center;
    float: left;
    border-radius: 4px;
  }
 

  .mb-br{
    display: block;
  }
  .pname{
    top: 10vh;
  }
  .trn4{
    font-size: .85rem;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
  }
  .d-br{
    display: none;
  }
  .abt-bottom{
    width: 95vw;
    height: 10vh;
    margin-top: 1%;
  }
  .abt-bottom-1{
    position: relative;
    /*background-color: rgba(255, 255, 255, 0.137);*/
    bottom: 0;
    margin: auto;
    vertical-align: middle;
    width: 95vw;
    height: 10vh;
    margin-top: 1%;
  }
  .abt-img-8{padding: 0px;}
  .abt-img-10{padding: 0px;}
  .abt-img-12{padding: 0px;}
  .abt-img-15{padding: 4px;}
  .abt-img-20{padding: 5px;}

}

/*SIDE-ICONS*/
.lyr{
    position: fixed;
    right: 4vw;
    top: 34vh;
    bottom: 60vh;
    border-radius: .3vw;
    display:flex;
    align-items: center;

}
.lyr:hover{
    background-color:  rgba(0, 0, 0,.3);
    height: 5vw;
    border-radius: .6vw
}
.logo{

    height: 3vw;
    width: 3vw;
    align-self: center;
    margin-top: auto;
    margin-bottom: auto;
    opacity: .65;
}
.logo:hover{
    height: 5vw;
    width: 5vw;
    opacity: 1;
    color: white;
}
img{
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 700px) {
  .side-icons{
    display: none;
  }
}

/*Contact*/

.contact{
    position: absolute;
    bottom: 0;
    height: 90%;
    width: 100%;
    background-color: black;
}
.contact-header{
    position: relative;
    text-align: center;
    margin: auto;
    width: 80%;

}
.contact-body{
    margin: auto;
    width: 80%;
}
.contact-box{
    position: relative;
    margin: auto;
    height:28vh;
    width:28%;
    background-color: white;
    text-align: center;
    float: left;
    border-radius: 4px;
}
h1.contact-box{
  opacity: 0;
        -webkit-animation: appear 0.5s ease-out 0.5s 1 normal forwards;
                animation: appear 0.5s ease-out 0.5s 1 normal forwards;
        margin-bottom: 2 rem;
        color: #d1ced5;
        font-family: 'Varela Round';
        
}
.contact-bottom-line{
    position:absolute;
    bottom:0;
    height: 2%;
    width: 100%;
    background-color: #d371c0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.abt-box1{
  position: relative;
  margin: 5%;
  margin-top: 3%;
  margin-bottom: 20%;
  width:13%;
  color: #d371c0;
  background-color: rgba(128, 128, 128, 0);
  text-align: center;
  float: left;
  border-radius: 4px;
}
.abt-box:hover1{
  background-color: white;
}

#cb1{
  margin-left: 5.5%;
}
#cb2{
  margin-left: 2.5%;
  margin-right: 2.5%;
}
#cb3{
  margin-right: 5.5%;
}
.trn32{
  opacity: 0;
      -webkit-animation: appear 0.5s ease-out 0.5s 1 normal forwards;
              animation: appear 0.5s ease-out 0.5s 1 normal forwards;
      margin-bottom: 2 rem;
      color: rgb(255, 255, 255);
      font-family: 'Varela Round';
      font-size: 2rem;
      line-height: 6vh;
      margin-top: 10px;

}
.contact-cw{
  position: relative; 
  margin: auto; 
  width:100%; 
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .contact{
    height: 130%;
  }
  .contact-box{
    float: none;
    width: 100%;
  }
  #cb1,#cb2,#cb3{
    margin: 0;
    margin-bottom: 3%;
  }
  .contact-cw{
    font-size: 2rem;
  }
}