@font-face {
    font-family: 'Product Sans Regular';
    font-style: normal;
    font-weight: normal;
    src: local("Product Sans Regular"), url("../assets/fonts/ProductSans-Regular.woff") format("woff");
  }

/*Experience*/
#experience{
    
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient();
    padding-top: 5%;
    padding-bottom: 3%;
    height: 135vh;
}
#wr-layer{
    
    width: 69vw;
    height: 100%;
    padding: 4%;
}
#work{
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    height: 100%;
    margin-left:2%;
    vertical-align: middle;
}
#work-title{
    position: relative;
    vertical-align: middle;
    background-color: rgba(255, 255, 255, 0);

}
#pink-block{
    margin: 0;
    background-color: palevioletred;
    width: 1%;
    height: 5vh;
    position: inline;
    float: left;
}
.work-text{
    position: inline;
    margin: 0;
    margin-left: 5%;
    position: relative;
    float: left;
}
#work-t2{
    position: block;
    font-size: 1.2rem;
    color: rgb(194, 190, 190) ;
}
#work-body{
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    height: 75%;
    margin-left:2%;
    vertical-align: middle;

}
.work-desc{
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 20vh;
    margin-top: 7vh;
}
.work-img{
    height: 50%;
    width: 4.5vw;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    padding: 1.5vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    margin: 22px;
    border-color: white;
    border-width: 20px;
}

.work-img-div{
    position: inline;
    float: left;
}

.trn31{
    opacity: 0;
        -webkit-animation: appear 0.5s ease-out 0.5s 1 normal forwards;
                animation: appear 0.5s ease-out 0.5s 1 normal forwards;
        margin-bottom: 1.5 rem;
        color: #d1ced5;
        font-family: 'Varela Round';
        font-size: 1.5rem;
        line-height: 6vh;
        font-weight: 100;

}
.work-dur{
    opacity: 0;
        -webkit-animation: appear 0.5s ease-out 0.5s 1 normal forwards;
                animation: appear 0.5s ease-out 0.5s 1 normal forwards;
    font-size: 1rem; 
    color: white; 
    font-family: 'Varela Round';
    margin-top: 5px;
    margin-left: 2px;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}

/*PROJECTS*/
#projects{
    height: 160vh;
}
#pr-layer{
    position: relative;
    margin: auto;
    height: 100%;
    top: 0;
    align-self: center;
    width: 70%;
    padding: 4%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.801),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0));
}
#pr-body{
    height: 92.6%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
}
.pr-instance{
    width: 100%;
    height: 25%;
    background-color: rgba(255, 255, 255, 0.205);
}
.pr-img{
    width: 50%;
    height: 100%;
    background-color: hotpink;
    float: left;
}
.pr-txt{
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.404);
    float: left;
    padding: 6%;
    padding-right: 3%;
}
.pr-txt:hover{
    background-color: black;
}
.trn311{
    opacity: 0;
        -webkit-animation: appear 0.5s ease-out 0.5s 1 normal forwards;
                animation: appear 0.5s ease-out 0.5s 1 normal forwards;
        color: #ffffff;
        font-family: 'Varela Round';
        font-size: 1.7rem;
        font-weight: 100;
        position: inline;
}
#pr-t3{
    opacity: 0;
        -webkit-animation: appear 0.5s ease-out 0.5s 1 normal forwards;
                animation: appear 0.5s ease-out 0.5s 1 normal forwards;
    margin-top: 4.2%;
    position: block;
    font-size: 1rem;
    color: rgb(175, 171, 171) ;
}




@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
}